```csharp
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio files
*.user
*.userosscache
*.suo
*.csproj.user
*.vbproj.user
*.fsproj.user
*.userprefs

# Visual Studio Code files
.vscode/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Target Frameworks
**/*.NETFramework,Version=v*
**/*.NETCoreApp,Version=v*

# Built web package
**/wwwroot/

# NuGet Packages
*.nupkg
!*.nupkg.sha512
*.snupkg
!*.snupkg.sha512
**/[Pp]ackages.*/

# Environment specific settings
.env
.env.local
*.env
*.env.*
```